@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
$theme-font: 'Noto Sans KR', sans-serif;
$theme-color: #51C9A6;
$link-color: #ff9898;
$bcolor: #000000;
$wcolor: #ffffff;
$gcolor:#808080;
$grcolor:#41a30d;
$glcolor:#ebbc00;
$black-opacity: rgba($bcolor, 0.3);

